@model IEnumerable<GymPro.Models.LoaiSanPham>

@{
    ViewBag.Title = "LoaiSanPhamListView";
}

<h2>LoaiSanPhamListView</h2>
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Them Loai San Pham", "ThemLoaiSanPham")" class="btn btn-primary">+ Thêm loại sản phẩm</a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.loaisanpham_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaisanpham_mota)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.loaisanpham_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaisanpham_mota)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.loaisanpham_ma }) |
                @Html.ActionLink("Details", "Details", new { id = item.loaisanpham_ma }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.loaisanpham_ma })
            </td>
        </tr>
    }

</table>
